<form>
    <h2>Update Event Form</h2>


    <div class="form-group">
        <label for="eventId">Event Id</label>
        <input (ngModelChange)=updateForm() [(ngModel)]="eventId" name="eventId" type="text" class="form-control" id="eventId"
            placeholder="Event Id" required>
    </div>

    <div class="form-group">
        <label for="titleInput">Title</label>
        <input [(ngModel)]="eventTitle" name="eventTitle" type="text" class="form-control" id="titleInput"
            placeholder="Event Title" required>
    </div>
    <div class="form-group">
        <label for="descriptionInput">Event Description</label>
        <textarea [(ngModel)]="eventDescription" name="eventDescription" class="form-control" id="descriptionInput"
            rows="3" required></textarea>
    </div>
    <div class="form-group">
        <label for="timeInput">Time of Event</label>
        <input [(ngModel)]="eventTime" name="eventTime" type="time" class="form-control" max="9999-12-31" id="timeInput"
            required>
    </div>
    <div class="form-group">
        <label for="dateInput">Date of Event</label>
        <input [(ngModel)]="eventDate" name="eventDate" type="date" class="form-control" id="dateInput" required>
    </div>


    <button (click)="onUpdateEvent()" type="submit" class="btn btn-dark">Update Event</button>
</form>