<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="#">HangOut</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/BasicUser/PrivateEvents">Home <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/BasicUser/PrivateEvents" active>Event Manager</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/BasicUser/Friends">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/BasicUser/Rsvps">RSVPs</a>
            </li>

        </ul>
    </div>

    <div class="nav-item">
            <a class="nav-link" routerLink="/login">Logout</a>
    </div>
</nav>



<div class="private-events-table">
    <div class="row">
        <div class="col-sm-12 text-right" id="buttonAlign">
            <h3>Events Table</h3>
            <app-basic-user-private-events-add-event-button></app-basic-user-private-events-add-event-button>
            <div class="divider"></div>
            <app-basic-user-private-events-update-event-button></app-basic-user-private-events-update-event-button>
        </div>
    </div>

    <app-basic-user-private-events-table></app-basic-user-private-events-table>
</div>