<div id="DiscountForm">
    <form action="">
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" name="DiscountUsername" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="DscountCode">Discount Code</label>
            <input type="text" name="CodeDiscount" placeholder="Enter Discount Code">
        </div>
        <div class="form-group">
            <button (click)=onDiscount() type="submit">Send Discount</button>
        </div>
    </form>
</div>
