<div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Subscribed Business</h5>
          <app-basic-user-subscribed-business></app-basic-user-subscribed-business>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Friend Events</h5>
          <app-basic-user-friends-events></app-basic-user-friends-events>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Friend Messages</h5>
            <app-basic-user-friends-messages></app-basic-user-friends-messages>
          </div>
        </div>
      </div>
  </div>