<div class="Subscription">
       
    <h1>Subscriptions</h1>

  </div>
  
  <div class="container">
        <ul class="list-group">
                <li class="list-group-item active">Business Name</li>
                <li class="list-group-item"></li>
              </ul>

              <button (click) ="onAddSubscription()" type="submit" class="btn btn-primary btn-lg" id="addSubscription">Add Subscription</button>
              
              <form>
                    <div class="form-group">
                      <input type="business-name" class="form-control" id="business-name" placeholder="Business Name">
                      <button (click)="onRemoveSubscription()" type="submit" class="btn btn-primary btn-sm" id="removeSubscription">Remove Subscription</button>
                    </div>
              </form>
   
      </div>
