  table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1%; 
    margin-bottom: 3%;
    width: 100%; 
    /* bottom: 60px; */
    position: relative;
    text-align: center;
    border-radius: 5px;
  }