<table class="table table-striped table-sm table-light table-curved" id="messages-table">
    <caption>Message Table</caption>
    <thead>
        <tr class="d-flex">
            <th class="col-2">Sender</th>
            <th class="col-8">Message</th>
            <th class="col-2">Time</th>
        </tr>
    </thead>

    <tbody id="messages-table-body">
        <tr class="d-flex">
            <td class="col-2">super long stupid username</td>
            <td class="col-8">wfjwpofkwpaosidjaoisjdaosijaoijdaoieofkwpofpsodkpsokdfpsodkfpsodkfpsdokfspodkpodfkkewpofkwpoefkwpoefkwpoefkwpoefkwpeofkwpoefkw</td>
            <td class="col-2">3:04pm</td>
        </tr>
    </tbody>

</table>